<form class="searchSubmitForm form-inline" action="#/searchresult">
    <label for="search-input">Search again: </label>
    <input type="text" id="playlystSearcher" class="form-control" name="search-input" placeholder="Search">
    <input type="submit" id="searchPlaylistBtn" class="btn btn-lg btn-default" value="Search" />
</form>

<table class="table table-hover" >
    <thead>
        <tr>
            <th>Playlist Image</th>
            <th>Playlist Name</th>
            <th>User Name</th>
            <th><button >Remove</button></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Info</td>
            <td>Info</td>
            <td>Info</td>
            <td>Info</td>
        </tr>
    </tbody>
</table>
