<script src="scripts/Controllers/PlayGenreController.js"></script>
<ul>
    <li><a href="#" class="genre">Dubstep</a></li>
    <li><a href="#" class="genre">Deep house</a></li>
    <li><a href="#" class="genre">Rock</a></li>
</ul>
<div id="player">
</div>
<h1 class="cover-heading">Search for your favorite playlist now!</h1>
<form class="searchSubmitForm">
    <input type="text" id="playlystSearcher" placeholder="Search">
    <div id="searchPlaylistBtn" class="btn btn-lg btn-default">Search</div>
</form>
