<form class="searchSubmitForm form-inline" action="#/searchresult">
    <input type="text" id="playlistSearcher" class="form-control" name="search-input" placeholder="Search">
    <input type="submit" id="searchPlaylistBtn" class="btn btn-lg btn-default" value="Search" />
</form>

<table class="table table-hover" >
    <thead>
        <tr>
            <th>Track Image</th>
            <th>Track Name</th>
            <th>Track Genre</th>
            <th></th>
        </tr>
    </thead>
    <tbody  id="listTraks">

    </tbody>
</table>
